body {
  background-color: rgba(196, 203, 255, 0.101);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
}

main {
  margin: 0 1.5rem;
}

footer {
  color: rgba(121, 121, 121, 0.772);
  margin-top: auto;
  text-align: center;
  padding: 0.5rem;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
}

nav * {
  text-decoration: none;
  padding: 0.9rem 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition-duration: 400ms;
  /* box-shadow: 0px 0px 10px 0px rgb(139, 139, 139); */
  border-radius: 1rem;
  color: rgb(83, 71, 71);
}

nav *:hover {
  transition-duration: 400ms;
  /* text-shadow: 0px 16px 5px rgb(139, 139, 139); */
  transform: scale(1.2);
  box-shadow: 0px 5px 10px -3px rgb(139, 139, 139);
}

.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2000ms linear infinite;
  padding: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#moviesDiv,
#movieDiv,
#contactDiv {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

#goBack {
  position: absolute;
  font-size: 1.2rem;
  left: 1.5rem;
  top: 1.5rem;
  box-shadow: 0px 3px 10px -3px rgb(139, 139, 139);
  cursor: pointer;
}

.error {
  color: rgba(255, 0, 0, 0.886);
  background-color: rgb(255, 255, 255);
}

.movieCard {
  height: 250px;
  width: 200px;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgb(139, 139, 139);
  background-color: rgb(255, 248, 240);
  transition-duration: 250ms;
}

.movieCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 0px rgb(139, 139, 139);
}

.movieBg {
  background-size: cover;
  height: 200px;
}

.movieName {
  position: relative;

  margin: 0rem 1rem;
  bottom: -0.8rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.movieDetailBg {
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 400px;
  background-position: center center;
}

.h1Details {
  max-width: 400px;
}

span {
  display: inline-block;
}

span::first-letter {
  text-transform: uppercase;
}

.movieDetails {
  box-shadow: 0px 0px 10px 0px rgb(139, 139, 139);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem 5rem;
  margin: 0 20rem;
}

.bold {
  font-weight: 800;
  font-size: 1.5rem;
}

.allMovies {
  text-align: center;
  margin: 0 auto 1rem;
}
